<h1>Send Email</h1>
<p>Contacte-nos</p>

<form action="/contact" method="POST">
  <p>Diga-nos o seu nome</p>
  <input name="clientname" type="text"></input>
  <p>Coloque seu e-mail aqui</p>
  <input name="email" type="email"></input>
  <p>Qual assunto deseja tratar?</p>
  <input name="clientsubject" type="text"></input>
  <p>Descreva o que você procura!</p>
  <input name="content" type="text"></input>
  <p>Obrigado por nos contactar, entraremos em contato em breve!</p>
  <button class="btn" type="submit">Enviar</button>
</form>
