<h1>Cadastre-se na Nossa Lista de Email</h1>

<form action="/newsletterdatabase" method="POST">
  <p>Diga-nos o seu primeiro nome</p>
  <input name="firstname" type="text"></input>
  <p>Diga-nos o seu último nome</p>
  <input name="lastname" type="text"></input>
  <p>Diga-nos o seu email</p>
  <input name="email" type="email"></input>
  <button class="btn" type="submit">Enviar</button>
</form>
