<h1>New User</h1>
<p>Preencha os Campos Abaixo para se cadastrar</p>

<form action="/userconfig" method="POST">
  <p>Diga-nos o seu email</p>
  <input name="usermail" type="email"></input>
  <p>Digite sua senha</p>
  <input name="userpassword" type="password"></input>
  <button class="btn" type="submit">Enviar</button>
</form>
